@import '@/style/variables.scss';

.col-3 {
    .card-box {
        width: 302px;
        height: 402px;
        border: 1px solid $card-info;
        position: relative;

        &:hover .info-film {
            display: block;
        }

    .info-film {
        color: $card-info;
        background-color: $black;
        position: absolute;
        height: 100%;
        display: none;
        overflow-y: auto;

        div {
            padding-top: 10px;
        }
    }
    a {
        img {
            width: 300px;
            height: 400px;
        }
    }

    }
}