@import '@/style/variables.scss';

.card-container {
    .card-box {

        border: 1px solid $card-info;
        position: relative;

        &:hover .info-film {
            display: block;
        }

    .info-film {
        color: $card-info;
        background-color: $black;
        position: absolute;
        height: 100%;
        display: none;
        overflow-y: auto;

        div {
            padding-top: 10px;
        }
    }
    a {
        img {
            height: 100%;
            width: 100%;
        }
    }

    }
}