@import '@/style/variables.scss';

header {
    height: 80px;
    background-color: $black;

    .container {
        height: 100%;

        h2 {
            color: $red;
        }

        .search-container {

            height: 40px;

            .button {
                height: 100%;
                background-color: orange;
                cursor: pointer;
            }

            input {
                height: 100%;
                outline: 0;
            }
        }
    }
}